@import url(variables.css);
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    list-style: none;

}
body{
    background: var(--color-primary);
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 8px;
    grid-template-areas: 
    "menu menu menu menu menu menu menu menu menu menu menu menu"  
    "notification notification notification notification sales sales sales sales sales sales balance balance"
    "notification notification notification notification sales sales sales sales sales sales balance balance"
    "week week week week sales sales sales sales sales sales balance balance"
    "week week week week sales sales sales sales sales sales devs devs"
    "week week week week sales sales sales sales sales sales devs devs"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
        
        ;

    width: 800px;
    height: 600px;
    margin: 15px auto;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    box-shadow: var(--color-shadow);


}
.container div{
    border-radius: 10px;
}
.item_1{
    background: #ffffff;
    grid-area: menu;
    display: flex;
}
.nav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}
.nav ul li{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}
.item_1  div ul {
    display: flex;
    justify-content: space-evenly;
    
}


.van{
    
    width: 50%;
    display: flex;
    background: linear-gradient(to right, #3498db 0%, #8DD9F1 50%, #D7F065 50%, #2ecc71 100%);
    /* El degradado va de celeste (#3498db) a la mitad y luego cambia a verde (#2ecc71) */
    padding: 10px; /* Ajusta el espacio interno según sea necesario */
}




.icons{
    padding: 5px ;
    display: flex;
    align-items: center;
}
.icons i {
    font-size: 20px; /* Tamaño del icono */
    margin-right: 10px; /* Espacio entre los iconos (ajusta según sea necesario) */
    font-size: 24px; /* Tamaño del icono */
    

}
.text{
    float: right;
    margin-left: 130px;
    padding-top: 10px;
}
.face{
    float: right;
    margin-left: 10px;
    height: 50px;
}


.user{
    display: flex;
    justify-content: flex-end;

}

/*EMPEZANDO EL SEGUNDO CUADRO DE INFORMACION*/
.item_2{
    background: #87D8F9;
    grid-area: notification;

}
.pictures{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    float: right;
    
}
.fac1{
    float: left;
    margin-left: 10px;
    height: 50px;
}
.fac2{
    float: left;
    margin-left: 10px;
    height: 50px;
}
.fac3{
    float: left;
    margin-left: 10px;
    height: 50px;
}


/**/
.item_3{
    background: hsl(0, 0%, 100%);
    grid-area: sales;
}
.item_4{
    background: hwb(0 100% 0%);
    grid-area: week;
}
.item_5{
    background: #FEFEFE;
    grid-area: balance;
}
.item_6{
    background: #D7F065;
    grid-area: devs;
}
.item_7{
    background: hsl(0, 0%, 100%);
    grid-area: product;
}
.item_8{
    background: hsl(0, 0%, 100%);
    grid-area: timeline;
}



@media (width < 600px){
    .container{
        width: 100%;
        margin: 0;
        height: 100vh;
        background: #EFEFEF;
    }
}
